---
import BaseHead from '../../components/BaseHead.astro'
import Header from '../../components/Header.astro'
import Footer from '../../components/Footer.astro'
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts'
import { getCollection } from 'astro:content'
import FormattedDateR from '../../components/formatted-date-r'

const posts = (await getCollection('Script')).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
)
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>

  <body
    class="p-5 max-w-screen-md mx-auto tracking-wider gb-zinc-900 text-center"
  >
    <Header />
    <main>
      <section>
        <ul class="mt-8">
          {
            posts.map(post => (
              <li class="mb-2">
                <a href={`/Script/${post.slug}/`}>
                  <h2 class="font-bold">{post.data.title}</h2>
                  <p class="date">
                    <FormattedDateR date={post.data.pubDate} />
                  </p>
                </a>
              </li>
            ))
          }
        </ul>
      </section>
    </main>
    <Footer />
  </body>
</html>
